.titulo h1{     /* Usado para configurar a fonte no título do index.html */
    font-family: "Lugrasimo", cursive;
    font-size: 180px;;
    text-align:center;
    color: #f0f0bd;
    font-weight: bold; 
    text-shadow:
         -6px -6px 10px black,  
         6px -6px 10px black,  
         -6px  6px 10px black,  
         6px  6px 10px black,
         0px 0px 15px black;

}
.container {
    text-align: center; /* Alinha horizontalmente */
}

button {    /* Usado para configurar a fonte do botão index.html */
    padding:1px 1px;
    font-size: 100px;
    font-family: "Lugrasimo", cursive;
    border: none;
    background:none;
    color: #ffffff;
    cursor: pointer;
    text-shadow:
    -6px -6px 10px black,  
    6px -6px 10px black,  
    -6px  6px 10px black,  
    6px  6px 10px black,
    0px 0px 15px black;
}
button:hover {
    padding: 20px 35px;
    font-size: 115px;
}

body {  /* Background do jogo */
    background: linear-gradient(to right, rgb(1, 1, 83), rgb(114, 0, 0));
}
.sobre { /* Titulo da fase  */
    font-family: "Lugrasimo", cursive;
    font-size: 60px;;
    text-align:center;
    color: #afcad6;
    
    text-shadow: 1px 1px 5px #e0b4b4;

}