.titulo h1{     /* Usado para configurar a fonte no título do index.html */
    font-family: "Lugrasimo", cursive;
    font-size: 180px;;
    text-align:center;
    color: #afcad6;
    font-weight: bold; 
    text-shadow: 1px 1px 5px #e0b4b4;

}
.container {
    text-align: center; /* Alinha horizontalmente */
}

button {    /* Usado para configurar a fonte do botão index.html */
    padding:1px 1px;
    font-size: 75px;
    font-family: "Lugrasimo", cursive;
    border: none;
    background:none;
    color: #afcad6;
    cursor: pointer;
    text-shadow: 1px 1px 5px #e0b4b4;
}
button:hover {
    padding: 20px 35px;
    font-size: 80px;
}

body {  /* Background do jogo */
    background: linear-gradient(to right, rgb(1, 1, 83), rgb(114, 0, 0));
}
.sobre { /* Titulo da fase  */
    font-family: "Lugrasimo", cursive;
    font-size: 60px;;
    text-align:center;
    color: #afcad6;
    
    text-shadow: 1px 1px 5px #e0b4b4;

}